[user]
	name = David Collom
  email = david@collom.co.uk
	signingkey = D0ACE604DA2BDB29D8BD29F60C69BC31879DE6DC

[includeIf "gitdir:~/repos/github/jetstack/"]
    path = ~/.gitconfig-work
[includeIf "gitdir:~/repos/github/cyberark/"]
    path = ~/.gitconfig-work

[includeIf "gitdir:~/repos/gitlab/"]
    path = ~/.gitconfig-work

[includeIf "gitdir:~/repos/github/davidcollom/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/repos/gitlab/davidcollom/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/repos/github/devopsdays/"]
    path = ~/.gitconfig-dod


[include]
  path = ~/.gitconfig-extras

[color]
  diff=auto
  status=auto
  branch=auto

[alias]
  s = status
  d = diff
  ds = diff --staged
  co = checkout
  br = branch
  upstream-name = !git remote | egrep -o '(upstream|origin)' | tail -1
  head-branch = !git remote show $(git upstream-name) | awk '/HEAD branch/ {print $NF}'
  sync = !git checkout $(git head-branch) && git fetch upstream && git rebase upstream/$(git head-branch) && git push origin $(git head-branch)


[help]
  autocorrect = 5

[url "https://"]
  insteadOf = git://

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"

[merge]
	tool = diffmerge

[mergetool "diffmerge"]
	trustExitCode = true
	cmd = diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

[pull]
	rebase = true

[core]
	excludesFile = ~/.gitignore
